<script src="https://unpkg.com/vue@2"></script>

<div id="app">
  <p v-if="mostrar==true">{{ nome }}</p>
  <button @click="mostrarNome">Clica</button>

  <ul v-for="(obj,index) in lista">
      <li>{{ obj.name }} - {{ index+1 }}</li>
  </ul>
  <div v-for="n in 10">{{ n }}</div>
</div>

<script>
  new Vue({
    el:"#app",
    data:{
      nome: "Henrique",
      mostrar: false,
      lista: [{
        name:'L1'
      },{
        name:'L2'
      }]
    },
    methods:{
      mostrarNome(){
        this.mostrar = !this.mostrar;
      }
    }
  })
</script>